<div>
    Recent Shows
    <div id="recentShows"></div>
</div>
<div style="margin-top: 40vh; border-top: 6px solid #eef0ed;">
    Favorite Shows
    <div id="favoriteShows"></div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/Scripts/foundation.js"></script>
<script>
    $(function () {
        getRecentShows();
        getFavoriteShows();
    });
</script>

<style>
    /*#sidebar {
        height: 100vh;
        background-color: #161616;
        color: antiquewhite;
        padding: 10px;
        text-align: center;
    }

    #content {
        height: 100vh;
        background-color: #222222;
    }*/
</style>