@using Epicenter.Models
@model IEnumerable<ShowViewModel>

@{
    ViewBag.Title = "Shows";
    ViewBag.ToDisplay = 0;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="jumbotron" style="margin-left: 0;background-color: #68120f; color:antiquewhite">
        <h1>My Library</h1>
    </div>

    <div style="padding: 20px">
        @foreach (var show in Model)
        {
            <div style="width: 124px; display: inline-block">
                <div class="thumbnail" onclick="getEpisodeList(this);" id="@show.ShowId" style="height: 195px; background-color: #68120f; color: antiquewhite; border: black">
                    <img style="width: 124px; height: 170px" src="" alt="...">
                    <p style="text-align: center;">
                        @show.ShowId
                        @show.ShowName
                    </p>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/Scripts/foundation.js"></script>
<script>
    function getEpisodeList(item) {
        var id = $(item).attr("id");
        getSidebar("/Home/GetFavoriteEpisodes/" + id);
        getContent("/Home/EpisodeList/" + id);
    }
</script>